{% extends 'App/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    View Record
{% endblock title %}
    
{% block content %}
    <br>
    <div class="card">
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;{{ record.first_name | upper }} {{ record.last_name | upper}}</strong>
        <div class="card-body">
            <p><strong>ID : </strong> {{ record.id }}</p>
            <p><strong>Email : </strong> {{ record.email }}</p>
            <p><strong>Phone Number : </strong> {{ record.phone }}</p>
            <p><strong>Address : </strong> {{ record.address }}</p>
            <p><strong>City : </strong> {{ record.city }}</p>
            <p><strong>Province : </strong> {{ record.province }}</p>
            <p><strong>Country : </strong> {{ record.country }}</p>
            <p><strong>Date Joined : </strong> {{ record.creation_date }}</p>
        </div>
    </div>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Dashboard &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
    <a href="{% url 'update-record' record.id %}" class="btn btn-info">Update &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></a> &nbsp;
    <a href="{% url 'delete-record' record.id %}" class="btn btn-danger">Delete &nbsp; <i class="fa fa-minus-square" aria-hidden="true"></i></a>
{% endblock content %}